/* ===============================
   BUTTONS
   =============================== */

.header__cta {
  display: inline-block;
  margin-top: var(--spacing-md);
  padding: var(--spacing-xs) var(--spacing-lg);
  background-color: var(--color-accent-brown);
  color: var(--color-text-light);
  border-radius: var(--radius-md);
}
