/* ===============================
   CONTAINER DES CARDS
   =============================== */

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

/* ===============================
   CARD
   =============================== */

.card {
  position: relative;
  height: var(--height-card);
  border-radius: var(--radius-3xl);
  overflow: hidden;
  box-shadow: var(--shadow-card);
}

/* IMAGE = PREND TOUT */

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===============================
   BANDE NOIRE EN BAS (OVERLAY)
   =============================== */

.card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--spacing-lg);
  color: var(--color-text-light);
  /* OPACITÉ MAÎTRISÉE */
  background: var(--gradient-card-overlay);
}

/* ===============================
   TEXTE
   =============================== */

.card__title {
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
}

.card__text {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-snug);
}

.card-wrapper {
  margin-bottom: var(--spacing-2xl);
}

/* optionnel : enlever l'espace après la dernière */
.card-wrapper:last-child {
  margin-bottom: 0;
}
