/* ===============================
   STYLE PRINCIPAL
   =============================== */

/* Vendors */
@import "./vendors/normalize.css";

/* Utils */
@import "./utils/variables.css";
@import "./utils/main.css";

/* Layout */
@import "./layout/header.css";
@import "./layout/menu.css";
@import "./layout/hero.css";
@import "./layout/footer.css";

/* Components */
@import "./components/global.css";
@import "./components/buttons.css";
@import "./components/cardcta.css";
@import "./components/article.css";
@import "./components/timeline.css";
@import "./components/carousel.css";
